.headerBg1,
.headerBg2 {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerBg1 {
  background-image: url("../Media/Header1.png");
  background-position: left top;
  z-index: 0;
}

.headerBg2 {
  background-image: url("../Media/Header2.png");
  background-position: right top;
  z-index: 2;
}

.headerLogo {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 2;
}

.headerLogo img {
  width: 40vw;
  max-width: 230px;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sloganContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.slogan {
  font-weight: bold;
  font-size: 48px;
  z-index: 1;
}

.hero button {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 20px;
  z-index: 1;
  font-size: 18px;
}

@media (max-width: 800px) {
  .headerBg1,
  .headerBg2 {
    z-index: 0;
  }

  .headerBg2 {
    background-position: right bottom;
  }

  .slogan {
    font-size: 34px;
  }
}
