* {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(#fff, #f2f0ef);
  min-height: 100vh;
  min-width: 100vw;
}

p,
button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, "Arial Narrow", Arial, "Lucida Grande", sans-serif;
  color: #6f536f;
}

button {
  padding: 7px 0;
  font-size: 14px;
  font-weight: 500;
  border: #6f536f 2px solid;
  border-radius: 5px;
  cursor: pointer;
  
}

.shadow {
  box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.3);
}
